html{
    margin: 0;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(#592c7b,#3355f5);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.player{
    max-width: 700px;
    min-width: 450px;
    border: 5px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    position: relative;
    font-size: 0;
    overflow: hidden;
}
.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
  border: none;
}
.player:-webkit-full-screen .player-controls{
  padding-right: 50px;
  left: 20px;
}

.video-player{
    width: 100%;
}
/* these hide the native controls in fullscreen mode as well*/
.video-player::-webkit-media-controls {
  display:none !important;
}
.player-button{
    background: none;
    line-height: 1;
    border:0;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    margin: 1px;
}
.player-button:focus{
    border-color: #ffc600;
}
.player-slider{
    width: 30px;
    height: 10px;
}
.player-controls{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.1);
    flex-wrap: wrap;
    transform: translateY(100%) translateY(-5px);
    transition: all 0.3s;
    /* higer z index makes it visible even in fullscreen*/
    z-index: 2147483647;
}

.player:hover .player-controls{
    transform: translateY(0);
}
.player-controls >*{
    flex: 1;
}
.player:hover .progress{
    height: 15px;
}

.progress{
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    transition: height 0.3s;
    background: rgba(0,0,0,0.5);
    cursor: ew-resize;
    margin-bottom: 5px;
}
.progress-filled{
    width: 50%;
    background: #ffc200;
    flex: 0;
    flex-basis:0%;
}
.fullscreen{
    font-size: 10px;
}


input[type="range"]{
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
}
input[type="range"]:focus{
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,0), 0 0 1px rgba(13,13,13,0);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.3px;
    border:0.2px solid rgba(1,1,1,0);
}
input[type="range"]:focus::-webkit-slider-runnable-track{
    background: #bada55;
}
input[type="range"]::-webkit-slider-thumb{
    height: 15px;
    width:15px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    background: #ffc200;
}
