html,body{
    margin: 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}
body{
    background: linear-gradient(#0b97e0, #7722ad);;
}
.items{
    max-width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    background: white;
    box-shadow: 10px 10px 0 rgba(0, 0,0,0.1);
    font-family: sans-serif;
}
.item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}
p{
    margin: 0;
    padding: 20px;
    transition:background 0.2s;
    border-left: 1px solid #d1e2ff;
    flex: 1;
    font-size: 20px;
    font-weight: 200;
}
.item:last-child{
    border-bottom: 0;
}
input[type="checkbox"]{
    margin: 20px;
}
input:checked + p{
    background: #dedddd; 
    text-decoration: line-through;   
}
